article.sidebar
  h1.sidebar-title Who should come?
  ul.sidebar-body
    li Anybody interested in art and the creative industry
    li Painters, sculptors, photographers and graphic artists
    li
      | Those interested in meeting and making a connection with others in the local art scene.
article.sidebar
  h1.sidebar-title Artwork on display
  p.sidebar-body
    | While you attend the conference, head over to our gallery where you can check out some of the work from our speakers.
  .pixgrid.clearfix
    // Important INDEX!!!
    each thumb, index in artwork
      img(src=`/images/artwork/${thumb}`, alt=`Artwork ${index + 1}`)